In [31]:
import pandas as pd

In [32]:
dept_emp_to_load = "Data/dept_emp.csv"
departments_to_load = "Data/departments.csv"
dept_manager_to_load = "Data/dept_manager.csv"
employees_to_load = "Data/employees.csv"
salaries_to_load = "Data/salaries.csv"
titles_to_load = "Data/titles.csv"

In [33]:
dept_emp_df = pd.read_csv(dept_emp_to_load)
departments_df = pd.read_csv(departments_to_load)
dept_manager_df = pd.read_csv(dept_manager_to_load)
employees_df = pd.read_csv(employees_to_load)
salaries_df = pd.read_csv(salaries_to_load)
titles_df = pd.read_csv(titles_to_load)

        emp_no            title   from_date     to_date
0        10001  Senior Engineer  1986-06-26  9999-01-01
1        10002            Staff  1996-08-03  9999-01-01
2        10003  Senior Engineer  1995-12-03  9999-01-01
3        10004         Engineer  1986-12-01  1995-12-01
4        10004  Senior Engineer  1995-12-01  9999-01-01
...        ...              ...         ...         ...
443303  499997         Engineer  1987-08-30  1992-08-29
443304  499997  Senior Engineer  1992-08-29  9999-01-01
443305  499998     Senior Staff  1998-12-27  9999-01-01
443306  499998            Staff  1993-12-27  1998-12-27
443307  499999         Engineer  1997-11-30  9999-01-01

[443308 rows x 4 columns]

In [ ]:
# merge --> pyber_data_df = pd.merge(ride_data_df, city_data_df, how ="left", on=["city", "city"])